<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
</head>
<body>
<table>
    <tbody>
    <tr>
        <td colspan="4" style="">
            <h1 style="text-align: center">
                پلتفرم فندق
            </h1>
        </td>
    </tr>
    <tr>
        <td colspan="1"></td>
        <td colspan="2">
            <h2 style="text-align: center">
                تایید آدرس ایمیل
            </h2>
        </td>
        <td colspan="1"></td>
    </tr>
    <tr>
        <td colspan="4">
            <p>
                با تشکر از انتخاب فندق، لطفا برای تایید حساب‌ کاربری خود روی لینک زیر کلیک کنید
                <a href="{{ activation_link }}">
                    فعال‌سازی
                </a>
            </p>
        </td>
    </tr>
    <tr>
        <td colspan="4" style="text-align: center">
            <p>
                 پلتفرم فندق
            </p>
        </td>
    </tr>
    </tbody>
</table>
</body>
</html>